
<div class="container">
  <div class="login">

    <h1>Fill the below form for access</h1>
    <form name="access_form" method="post" action=".">
        <p><input type="number" name="_id" value="" placeholder="ID"></p>
        <p><input type="text" name="employee_name" value="" placeholder="Last Name, First Name"></p>
        <p><input type="text" name="department" value="" placeholder="Department"></p>
        <p><input type="text" name="working_from_office" value="" placeholder="Working from office?"></p>
        <p><input type="text" name="role" value="" placeholder="Role"></p>


      <p class="submit"><input type="submit" name="commit" value="Submit"></p>
    </form>
  </div>


</div>
